# site	comserv	hostname or			remport	myport
# name	name	ipaddress
#------------------------------------------------------------------------
sccb	sccb	athos-fr.seismo.berkeley.edu	12345	12346
ybib	ybib	athos-fr.seismo.berkeley.edu	12345	12346
eb17	q003	ybib.seismo.berkeley.edu	12345	12346
lab1	lab1	lassen-fr.seismo.berkeley.edu	12345	12346
